{% extends "base.html.twig" %}

{% block body %}
   <table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Todo</th>
        <th scope="col">Due Date</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for todo in todos %}
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.name }}</td>
                <td>{{ todo.dueDate|date('F j, Y, g:i a') }}</td>
                <td>
                    <a href="/todo/details/{{ todo.id }}" class="btn btn-success">View</a>
                    <a href="/todo/edit/{{ todo.id }}" class="btn btn-primary">Edit</a>
                    <a href="/todo/delete/{{ todo.id }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}